@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<section>
    <h2>Behind the wheel</h2>
    <p>
        Welcome to our simple Zodiac sign website! We're here to provide you with 
        basic information about each of the 12 zodiac signs.
        Our goal is to offer a quick and easy way to learn about the key characteristics, 
        strengths, and weaknesses associated with each sign.
    </p>

    <p>
        Whether you're a curious beginner or just want a refresher, 
        we hope you find our website helpful and informative.
    </p>

</section>